{% extends base_template|default:"ui/base.html" %}

{% block title %}Welcome - {% endblock %}

{% block content %}
    {% load staticfiles %}
    <script src="{%static "users/index.js"%}"></script> 
    
    <div id="buttons">
        <h2 id="login_button" class="btn">Log In</h2>
        <h2 id="signup_button" class="btn">Signup</h2>
    </div>
    <div id="signup_modal" class="views">
        <fieldset>
            <legend>Signup</legend>
            {% if error %}
                <h2>{{ error }}</h2>
            {% endif %}
            <form action="/users/signup" method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <input type="submit" value="sign up" />
                </p>
            </form>
        </fieldset>
    </div>
    <div id="login_modal" class="views">
        <fieldset>
            <legend>Log in</legend>
            {% if error %}
                <h2>{{ error }}</h2>
            {% endif %}
            <form action="/users/login" method="post">
                {% csrf_token %}
                <p>
                    <lable>Username:</lable>
                    <input type="text" name="username_l" required />
                </p>
                <p>
                    <lable>Password:</lable>
                    <input type="password" name="password_l" required/>
                </p>
                <p> 
                    <input type="submit" class="btn" value="log in" />
                <p>
            </form>
        </fieldset>
    </div>

{% endblock %}
