{% extends base_template|default:"ui/base.html" %}

{% block title %}Welcome - {% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load ui.bootstrap %}
<script src="{%static "users/index.js"%}"></script>

<div class="btn-group" role="group">
    <h2 id="login_button" class="btn btn-info">
        <span class="glyphicon glyphicon-pencil"></span>
        Log In
    </h2>
    <h2 id="signup_button" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>
        Signup
    </h2>
</div>
<hr />

<div class="row col-md-6">
    <div id="signup_modal" class="panel panel-success views">

        <div class="panel-heading panel-title">
            <span class="glyphicon glyphicon-user"></span>
            Signup
        </div>

        <div class="panel-body">
            <form action="/users/signup" method="POST">
                {% csrf_token %}
                
                {% boot_form_fields create_form %}

                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    sign up
                </button>
            </form>
        </div>

    </div>

    <div id="login_modal" class="panel panel-info views">

        <div class="panel-heading panel-title">
            <span class="glyphicon glyphicon-user"></span>
            Login
        </div>

        <div class="panel-body">
            <form action="/users/login" method="POST">
                {% csrf_token %}

                {% boot_form_fields login_form %}

                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    login
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}
