{% extends base_template|default:"ui/base.html" %}

{% block title %}{{user}}'s Home - {% endblock %}

{% block content %}    
    {% load staticfiles %}
    {% load ui.bootstrap %}
    <script src="{%static "users/usershome.js"%}"></script> 
    <div class="btn btn-primary" id="change_pass_btn">
        Change my password
    </div>
    <br>
    <br>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    <div class="row" id="main">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    High Scores:
                </div>
                <div class="panel-body">                
                    {% for game in highscores %}
                        <p> {{game.user}} </p>
                        <p> {{game.final_score}} </p>
                        <p> {{game.name}} </p>
                        <p> {{game.game_type}} </p>
                        <p> {{game.total_rounds}} </p>
                        <p> {{game.start_date}} </p>
                        <p> {{game.end_date}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    My Games History:
                </div>
                <div class="panel-body">                
                    {% for game in mygames %}
                        <p> {{game.name}} </p>
                        <p> {{game.game_type}} </p>
                        <p> {{game.total_rounds}} </p>
                        <p> {{game.start_date}} </p>
                        <p> {{game.end_date}} </p>
                        <p> {{game.final_score}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="change_pass_modal">
                <form action="/users/changepassword" method="post">
                {% csrf_token %}

                {% boot_form_fields form %}

                <input type="submit" value="change password" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
