{% extends base_template|default:"ui/base.html" %}

{% block title %}{{user}}'s Home - {% endblock %}

{% block header %}<a href="/users/changepassword">Change my password</a><a href="/users/logout" class="btn">Logout</a>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3> High Scores: </h3>
            {% for score in highscores %}
                <p> score </p>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% if saved_game %}
                <a href="/game" class="btn">Continue Saved Game</a>
            {% else %}
                <a href="/game" class="btn">Start a new game</a>
            {% endif %}
        </div>
        <div class="col-md-4">
            My Games history:
        </div>
    </div>
</div>
{% endblock %}