{% extends base_template|default:"ui/base.html" %}

{% block title %}{{user}}'s Home - {% endblock %}


{% block header %}{% endblock %}

{% block content %}    
    {% load staticfiles %}
    <script src="{%static "users/usershome.js"%}"></script> 
    <buttton class="btn" id="change_pass_btn">Change my password</button>

    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    <div class="container">
        <div class="row" id="main">
            <div class="col-md-4">
                <h3> High Scores: </h3>
                {% for score in highscores %}
                    <p> score </p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% if saved_game %}
                    <a href="/game" class="btn ajax">Continue Saved Game</a>
                {% else %}
                    <a href="/game" class="btn ajax">Start a new game</a>
                {% endif %}
            </div>
            <div class="col-md-4">
                My Games history:
            </div>
        </div>
        <div class="row">
            <div id="change_pass_modal">
                <form action="/users/changepassword" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="change password" />
            </form>
            </div>
        </div>
    </div>
{% endblock %}