{% extends base_template|default:"ui/base.html" %}

{% block title %}Add holding - {% endblock %}

{% block content %}
{%  load ui.bootstrap %}
<div class="col-md-8">
	<div class="panel panel-default">

		<div class="panel-heading panel-title">
			<span class="glyphicon glyphicon-usd"></span>
			Add holdings to <b>{{ portfolio.title }}</b>
		</div>

		<div class="panel-body">
			<form action="/portfolio/{{ slug }}/manage/add" method="POST">
			{% csrf_token %}

			{% if form.non_field_errors %}
				{{ form.non_field_errors }}
			{% endif %}


			{% for field in form %}
			    <div class="form-group">
			    	{% if field.errors %}
			        	<div class="alert alert-warning" role="alert">{{ field.errors }}</div>
			        {% endif %}
			        {{ field.label_tag }}
			        {{ field|addcss:"form-control" }}
			    </div>
			{% endfor %}

			<button class="btn btn-default">
				<span class="glyphicon glyphicon-share-alt"></span>
				Save
			</button>
			</form>
		</div>

	</div>
</div>
{% endblock %}
