{% extends base_template|default:"ui/base.html" %}

{% block title %}Add holding - {% endblock %}

{% block content %}
	{%  load ui.bootstrap %}
<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-usd"></span>
		Add holdings to <b>{{ portfolio.title }}</b>
	</div>

	<div class="panel-body">
		<form action="/portfolio/{{ portfolio.slug }}/manage/add" method="POST">
		{% csrf_token %}

		{% boot_form_fields form %}

		<div class="form-group ">
			<label class="control-label">
				Date purchased (use format 9/20/2011)
			</label>
			<input class="form-control" id="date" name="date" type="date" required>
		</div>

		<button class="btn btn-default">
			<span class="glyphicon glyphicon-share-alt"></span>
			Buy
		</button>
		</form>
	</div>

</div>
{% endblock %}
