{% extends base_template|default:"ui/base.html" %}

{% block title %}{{ portfolio.title }} - {% endblock %}

{% block content %}
<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-usd"></span>
		{{ portfolio.title }}
		<a href="/portfolio/{{ portfolio.slug }}/manage/add" class="ajax btn-defualt pull-right">
			<span class="glyphicon glyphicon-pencil"></span>
			Add Holding
		</a>
	</div>

	<div class="panel-body">
		<p>
			{{ portfolio.description }}
		</p>

	</div>

	<ul class="list-group">
	{% for stock, value in portfolio.stocks.items %} 
	    <li class="list-group-item form-group">{{ value.shares }} shares of {{ stock }} @ ${{ value.current_value }} 
	    	<form action="/portfolio/{{ portfolio.slug }}/manage/remove" method="POST">
				{%csrf_token%}
				<input type="hidden" name="symbol" value="{{ stock }}" />
				<input type="number" name="amount" value="0" />
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-share-alt"></span>
					Remove
				</button>
			</form> 
	    </li>
	{% empty %}
	    <li class="list-group-item">You do not seem to have any holdings.</li>
	{% endfor %}
	</ul>
	<div class="panel-footer">
		${{ portfolio.value }}
	</div>

</div>
{% endblock %}
