<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}Historical Trader</title>

    <!-- CSS are placed here -->
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link media="all" type="text/css" rel="stylesheet" href="{% static "css/styles.css" %}">
    
    <!-- Scripts are placed here -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/mustache.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}" defer></script>
    <script src="{% static "js/jquery.cookie.min.js" %}" defer></script>
    <script src="{% static "js/bootstrap.min.js" %}" defer></script>
    <script src="{% static "js/django_ajax.js" %}" defer></script>
    <script src="{% static "js/spa.js" %}" defer></script>
</head>
<body>
    <header>
        <nav class='navbar navbar-default navbar-static-top'>
          <div class="container">
            <div class="row">
                <h1 class='text-center'>Historical Trader</h1>
                <marquee>AAPL +1.98   GILD +2.50   XOM -.57   GPRO +2.82   AMZN +6.06   FB +0.01   RAD +0.15   PBR -0.20   GE -0.06   ABX +0.27   VALE +0.08   JCP 0.00   F +0.15   T +0.21   FCX +0.61   HAL +0.04   TLM 0.00   PFE +0.23   AUY +0.14   S +0.15   RIG +0.10   CHK -0.12   BTU +0.09   NBR +0.32   </marquee>
                <a href="/users/" class="btn ajax">
                    <span class="glyphicon glyphicon-user"></span>
                    Users
                </a>
                <a href="/blog/" class="btn ajax">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Blog
                </a>
                <a href="/portfolio/" class="btn ajax">
                    <span class="glyphicon glyphicon-usd"></span>
                    Portfolio
                </a>
                <a href="/game/" class="btn ajax">
                    <span class="glyphicon glyphicon-plane"></span>
                    Game
                </a>
                <a href="/users/logout" class="btn pull-right">
                    <span class="glyphicon glyphicon-off"></span>
                    Logout
                </a>
                {% block header %}
                {% endblock %}
            </div>
          </div>
        </nav> 
    </header>
    <div class="container">
        <div class="row">

            <div id="ajaxLoadingImage" class="" style="display: none; position: absolute; z-index: 100;" >
                <div class="panel panel-default" style="">
                    <div class="panel-heading panel-title">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        Loading, please wait.
                    </div>
                    <div class="panel-body">
                        <img src="{% static 'images/ajax_loader.gif' %}" width="256px" height="256px" />
                    </div>
                </div>
            </div>

            <main>
            {% block content %}
            {% endblock %}
            </main>
        </div>
    </div>

</body>
</html>
