{% extends base_template|default:"ui/base.html" %}

{% block title %}Add holding - {% endblock %}

{% block content %}
	{%  load ui.bootstrap %}
<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-usd"></span>
		Add holdings to <b>{{ portfolio.title }}</b>
	</div>

	<div class="panel-body">
		<p>Balance: {{game.balance}}</p>
		<form action="/game/portfolio/buy/checkout/" method="POST">
		{% csrf_token %}

		{% boot_form_fields form %}
		<select name = "symbol">
			{% for stock in stocks %}
				<option value = '{{stock.symbol}}/{{stock.close}}'>{{stock.symbol}} - {{stock.close}}</option>
			{% endfor %}
		</select>
		<label for = 'quantity'>Quantity</label>
		<input type= 'number' name = 'quantity'>
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-share-alt"></span>
			Buy
		</button>
		</form>
	</div>

</div>
{% endblock %}
