{% extends base_template|default:"ui/base.html" %}

{% block title %}Final Score for {{ game.name }} - {% endblock %}

{% block content %}
{% load ui.bootstrap %}
<div class="panel panel-default">

    <div class="panel-heading panel-title">
        <span class="glyphicon glyphicon-usd"></span>
        Final Results
    </div>

    <div class="panel-body">
        <ul>
        <li>Starting Balance:  ${{ game.start_balance|floatformat:2 }}</li>
        <li>Final Score: ${{ game.final_score|floatformat:2 }}</li>
        </ul>
    </div>

{% endblock %}
