{% extends base_template|default:"ui/base.html" %}

{% block title %}Game - {% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-heading panel-title">
        <span class="glyphicon glyphicon-play-circle"></span>
        Here are your unfinished games:
    </div>
    <div class="panel-body">
    <!-- need an if statement here for when there's no saved games -->
        {% for game in games %}
            <p> 
                {{ game.name }} <a href="/game/{{ game.id }}/start" class="btn btn-default ajax">Resume</a>
            </p>
        {% endfor %}
    </div>

</div>
{% endblock %}