{% extends base_template|default:"ui/base.html" %}

{% block title %}Game - {% endblock %}

{% block content %}
{%  load ui.bootstrap %}
<a href = "/game/find" class="btn btn-primary ajax">Load a saved game</a>
<br>
<br>
<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon-plane"></span>
		Customize your game here!
	</div>
	<div class="panel-body">
		<div class = 'game_form'>
			<form action = "/game/" method = "POST">
				{% csrf_token %}
				{% boot_form_fields form %}
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-share-alt"></span>
					Create
				</button>
			</form>
		</div>
	</div>

</div>
{% endblock %}