{% extends base_template|default:"ui/base.html" %}

{% block title %}{{user}}'s Home - {% endblock %}

{% block content %}    
    {% load staticfiles %}
    {% load ui.bootstrap %}
    <script src="{%static "users/usershome.js"%}"></script>
    <br>
    <br>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    <div class="row" id="main">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    High Scores:
                </div>
                <div class="panel-body">                
                    {% for game in highscores %}
                        <p> Username: {{game.user}} </p>
                        <p> Final Score: {{game.final_score}} </p>
                        <p> Game Name: {{game.name}} </p>
                        <p> Game Type: {{game.game_type}} </p>
                        <p> Total Rounds: {{game.total_rounds}} </p>
                        <p> Start Date: {{game.start_date}} </p>
                        <p> End Date: {{game.end_date}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    My Games History:
                </div>
                <div class="panel-body">                
                    {% for game in games %}
                        <p> Game Name: {{game.name}} </p>
                        <p> Game Name: {{game.game_type}} </p>
                        <p> Total Rounds: {{game.total_rounds}} </p>
                        <p> Start Date: {{game.start_date}} </p>
                        <p> End Date: {{game.end_date}} </p>
                        <p> Final Score: {{game.final_score}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
