{% extends base_template|default:"ui/base.html" %}

{% block title %}{{ post.title}} - {% endblock %}

{% block content %}
<div class="col-md-8">
	<div class="panel panel-default">
	
		<div class="panel-heading panel-title">
				<span class="glyphicon glyphicon glyphicon-pencil glyphicon glyphicon-bullhorn"></span>
				{{ post.title}} - <i>{{ post.category }}</i>
					<a class="ajax btn-defualt pull-right">
						<span class="glyphicon glyphicon glyphicon-pencil"></span>
						Edit
					</a>
			</h2>

		</div>

		<div class="panel-body">
			<blockquote>
				<p>
					{{ post.content }}
				</p>
				<footer>By {{ post.user_id.username }} in{{ post.created_at }} </footer>
			</blockquote>
		</div>

	</div>
</div>
{% endblock %}
