{% extends base_template|default:"ui/base.html" %}

{% block title %}{{ post.title}} - {% endblock %}

{% block content %}
<div class="panel panel-default">

	<div class="panel-heading panel-title">
		<span class="glyphicon glyphicon glyphicon-pencil glyphicon glyphicon-bullhorn"></span>
		{{ post.title}} - <i>{{ post.category }}</i>
			<a class="ajax btn-defualt pull-right">
				<span class="glyphicon glyphicon glyphicon-pencil"></span>
				Edit
			</a>
	</div>

	<div class="panel-body">
		<blockquote>
			<p>
				{{ post.content }}
			</p>
			<footer>By <b>{{ post.user_id.username }}<b> on {{ post.created_at }} </footer>
		</blockquote>
	</div>

</div>
{% endblock %}
