{% extends base_template|default:"ui/base.html" %}

{% block title %}Blog - {% endblock %}

{% load partials%}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Post's<a href="/blog/create" class="ajax btn-defualt pull-right">
							<span class="glyphicon glyphicon-file"></span>
							Add blog post
							</a>
					</div>
				</div>
				<div class="panel-body">
					{% list_posts %}
				</div><!-- end panel body -->
			</div>
		</div>
	</div>
</div>
{% endblock %}